footer{
  width: 100%;
  background: #283575;
  padding: 4rem 0 3rem;
}
footer .details{
  display: flex;
  align-items: center;
}
footer .details > div{
  min-width: 150px;
}
footer p{
  color: #fff
}
footer .logo {
  flex: 1;
  text-align: center;
}
footer .logo img{
  width: 150px;
}
footer .website{
  text-align: right;
}
footer .extra-details{
  margin-top: 1rem;
}
footer .extra-details ul{
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
footer .extra-details a{
  display: inline-block;
  margin: 0 .2rem;
  text-decoration: none;
  color: #fff;
  font-size: .8rem;
}